$albumWidth: 28%;
$albumHeight: 340px;
$albumImgWidth: 100%;
$albumTxtHeight: 30%;

main {
    padding: 40px 0;
    background-color: $mainBgColor;
    .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .album-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: $albumWidth;
        height: $albumHeight;
        margin: 20px 0;
        padding: 25px;
        color: $mainTxtColor;
        background-color: $albumBgColor;
        text-align: center;
        
        .img-container {
            width: $albumImgWidth;
            padding-bottom: 5px;
            img {
                width: 90%;
            }
        }
    }
}